@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;500;700&display=swap');

$mainColor: #0B387A;

body {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 400;
    background-color: white;
}

*{
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1386px;
    margin-left: auto;
    margin-right: auto;

}

// .column:first-child .form-group {
//     margin-bottom: 16.5px;
// }

.column:last-child {
    width: 352px !important;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 20px 0;
    box-sizing: content-box;
    nav ul {
        list-style: none;
        display: flex;
        li {
            
            font-size: 16px;
            font-weight: 500;
            

            a {
                text-decoration: none;
                color: black;
                padding: 8px 12px;
                border-radius: 24px;
                &:hover {
                    color: $mainColor;
                    background-color: rgba(0, 0, 0, 0.1);
                    
                }

                &.btn {
                    border: 1px solid black;
                    margin-left: 12px;
                    &:hover {
                        background-color: $mainColor;
                        color: white;
                    } 
                
                }
            }
        }
    }
}

.main-screen  .wrapper {
    height: 689px;
    background-color: $mainColor;
    border-radius: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;

    .block-left {
      // padding-top: 164px;
        padding-left: 100px;
        width: 50%;
        position: relative;

        .decoration {
            
            position: absolute;
            top: 0;
            left: 100px;
            background: #FFBC2C;
            height: 90px;
            width: 66px;
            border-radius: 8px;
            // margin-top: 164px;
            
        }
        h1 {
            font-size: 90px;
            font-weight: 400;
            line-height: 88px;
            color: white;
            position: relative;
            
        }
        p {
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            color: white;
            padding-top: 40px;
           
        }
        .btn-parent {
            margin-top: 36px;
        }
        a.btn {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: black;
            padding: 10px 16px;
            background-color: white;
            border-radius: 24px;
            text-decoration: none;
           
        }

    }
    .block-right {
        display: flex;
        justify-content: right;
        width: 50%;
        padding-right: 100px;
        .card {
            border-radius: 24px;
            width: 400px;
            height: 460px;
            background: white;
            img {
                // height: 421px;
                width: 400px;
                // max-width: 100%;
                border-radius: 24px 24px 0 0;
            }
            a {
                display: block;
                text-align: center;
                padding: 10px 0;
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;
                text-decoration: none;
                color: black;
            }
        }
        
        
        
    }
}

.screen-two  .wrapper {
    display: flex;
    flex-direction: column;
    // margin-left: 100px;
    // margin-right: 100px;
    width: 1240px;
    height: 815px;
    margin-bottom: 100px;
    h2 {
        font-weight: 500;
        font-size: 40px;
        line-height: 53px;
        color: black;
        text-align: center;
        margin-bottom: 80px;
    }

    .container2 {
        display: flex;
        background: url(../img/screen-two.svg) no-repeat  561px 0;
        // margin-left: 100px;

        .block-left-s2 {
            padding-left: 100px;
            width: 50%;
            position: relative;
            
            .wrapp-img {
                border-radius: 24px;
                position: absolute;
                width: 286px;
                height: 248px;
                .play {
                    background: rgba(196, 196, 196, 0.5);
                    backdrop-filter: blur(12px);
                    display: inline-flex;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    padding: 0 14px;
                    border-radius: 100px;
                    width: 150px;
                    height: 52px;
                    justify-content: space-between;
                    align-items: center;
                    span {
                        font-size: 16px;
                        font-weight: 500;
                        color: black;
                    }
                }
                &:nth-child(1) {
                    top: 0;
                    left: 0;
                }
                &:nth-child(2) {
                    top: 197px;
                    left: 205px;
                }
                &:nth-child(3) {
                    top: 433px;
                    left: 0;
                }

            }
        }
        .block-right-s2 {
            width: 50%;

            div {
                width: 603px;
                margin-top: 20px;
                margin-bottom: 22px;
                &:nth-child(2) {
                    margin-bottom: 40px;
                }
                &:first-child {
                    margin-top: 0;
                }
                ul.list {
                    padding-left: 36px;
                    margin-top: 20px;
                    // list-style-type: disc;
                    // list-style-position: inside;
                    
                    font-size: 20px;
                    line-height: 29px;
                    font-weight: 400;
                    // text-align: justify;
                
                }
            }
        }
    }
}

.screen-three .wrapper {
    width: 1240px;
    margin-bottom: 100px;
    h2 {
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 80px;
    }
    .gallery {
        .compositions {
            .row {
                h3 {
                    font-size: 28px;
                    font-weight: 500;
                    margin-bottom: 32px;
                }
                h6 {
                    text-align: right;
                    font-size: 20px;
                    font-weight: 500;
                    color:#7A7979;
                    
                }
                .wrapper-columns {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    // margin-left: 100px;
                    // margin-right: 80px;
                    // margin: 32px 80px 60px 100px;
                    margin-bottom: 28px;
                    
                    .column {
                        .card {
                            height: 412px;
                            width: 360px;
                            background-color: white;
                            border: 1px solid #EEEEEC;
                            border-radius: 8px;
                            box-shadow: 0px 4px 8px 0.4000000059604645px #E5E5E5;
                            
                            
                            h4 {
                                margin-top: 22px;
                                margin-left: 24px;
                                font-size: 20px;
                                font-weight: 500;
                                line-height: 28px;
                                
                            }
                            h5 {
                                margin-left: 24px;
                                font-size: 20px;
                                font-weight: 700;
                                line-height: 28px;
                                margin-top: 20px;
                            }
                            p {
                                margin-left: 24px;
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 28px;
                                
                            }

                            img {
                                border-radius: 8px 8px 0 0;
                                height: 240px;
                                width: 360px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.screen-four .wrapper{
    width: 1240px;
    margin-bottom: 100px;
    
    .form {
        background-color:#ECECEC;
        border-radius: 8px;
        padding: 40px 68px 140px 68px;
        h2 {
            font-size: 40px;
            line-height: 40px;
            font-weight: 500;
            text-align: center;
            padding-bottom: 60px;
            padding-top: 40px;
            
            
        }
        .wrapper-columns {
            display: flex;
            justify-content: space-between;
            .column {
                width: 296px;
                // display: flex;
                .form-group {
                    #size {
                        margin-bottom: 0;
                    }
                    .additional-info {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 16px;
                        margin-bottom: 40px;
                        .width, .height {
                            background-color: white;
                            border-radius: 4px;
                            display: flex;
                            height: 24px;
                            align-items: center;
                            overflow: hidden;
                            .letter {
                                line-height: 15.83px;
                                font-size: 12px;
                                color: #575656;
                            }
                            .cm {
                                font-size: 12px;
                                line-height: 15.83px;
                                font-weight: 500;
                                color: #575656;
                            }
                            input {
                                width: 28px;
                                height: 24px;
                                padding: 0;
                                border: 0 !important;
                                font-size: 12px;
                                font-weight: 500;
                                text-align: center;
                                outline: none !important;
                                color: #575656;
                                padding: 0 3px;
                            }
                        }
                        .width {
                            width: 95px;
                            img {
                                width: 16px;
                                height: 6px;
                                margin-left: 4px;
                                margin-right: 4px;
                            }
                        }
                        .height {
                            width: 82px;
                            img {
                                height: 16px;
                                width: 6px;
                                margin-left: 4px;
                                margin-right: 4px;
                            }
                        }
                    }

                    #subjects {
                        margin-bottom: 0;
                    }

                    .additional-info-two {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 16px;
                        margin-bottom: 40px;

                        .person, .pet {
                            background-color: white;
                            border-radius: 4px;
                            display: flex;
                            height: 24px;
                            align-items: center;
                            overflow: hidden;
                            .people {
                                line-height: 15.83px;
                                font-size: 12px;
                                color: #575656;
                            }
                            .pets {
                                line-height: 15.83px;
                                font-size: 12px;
                                // font-weight: 500;
                                color: #575656;
                            }
                            input {
                                width: 28px;
                                height: 24px;
                                padding: 0;
                                border: 0 !important;
                                font-size: 12px;
                                font-weight: 500;
                                text-align: center;
                                outline: none !important;
                                color: #575656;
                                padding: 0;
                            }
                        }
                        .person {
                            width: 98px;
                            img {
                                width: 16px;
                                height: 16px;
                                margin-left: 8px;
                                margin-right: 10px;
                            }
                        }
                        .pet {
                            width: 77px;
                            img {
                                height: 16px;
                                width: 16px;
                                margin-left: 8px;
                                margin-right: 10px;
                            }
                        }
                    }
                    
                    label {
                        display: block;
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 16px;
                        color: #575656;
                    }
                    input, select {
                        font-family: 'Roboto Slab', serif;
                        color: #8D8787;
                        width: 296px;
                        height: 40px;
                        border-radius: 8px;
                        border: none;
                        background-color: #FFFFFF;
                        line-height: 20px;
                        font-size: 14px;
                        font-weight: 500;
                        padding: 0 8px;

                        &:hover {
                            border: 1.5px solid #8D8787;
                        }

                        &::placeholder {
                            color:#8D8787;
                        }
                    } 
                    select {
                        -moz-appearance:none; /* Firefox */
                        -webkit-appearance:none; /* Safari and Chrome */
                        appearance:none;
                        background: #fff url(../img/chevron-down.png) no-repeat 256px center;  
                        padding: 0 16px;  
                        margin-bottom: 40px;
                    }
                    
                    .one {

                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;

                        
                        .background {
                            height: 24px;
                            background-color: white;
                            border-radius: 8px;
                            text-align: center;
                            padding:   8px 16px;
                            font-size: 14px;
                            line-height: 20px;
                            font-weight: 500;
                            color: #8D8787;
                            line-height: 24px;
                            &.active {
                                border: 1.5px solid #51AF5B;
                            }
                        }
                    }

                    .input-radio {
                        height: 40px;
                        display: flex;
                        justify-content: space-between;
                        background-color: white;
                        border-radius: 8px;
                        padding: 0 16px;
                        align-items: center;
                        margin-bottom: 40px;
                        label {
                            padding:8px 0;
                            margin: 0;
                        }
                        
                        .wrapper-options  {
                            display: flex;
                            font-size: 14px;
                            line-height: 20px;
                            font-weight: 500;
                            color: #575656;
                            text-align: center;
                            justify-content: space-between;
                            div {
                                color: #8D8787;
                                margin-left: 14px;   
                            }   
                        }
                    }
                    .input-file {
                        height: 40px;
                        width: 100%;
                        box-sizing: border-box;
                        background: white;
                        display: flex;
                        justify-content: space-between;
                        border-radius: 8px;
                        position: relative;
                        text-align: center;
                        margin-bottom: 40px;
                        input {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            opacity: 0;
                        }
                        span {
                            display: block;
                            width: 100%;
                            box-sizing: border-box;
                            padding: 8px 0;
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 500;
                            color: #8D8787;
                        }
                        img {
                            position: absolute;
                            padding: 10px 20px 10px 16px;
                        }


                    }
                    .input-form-two {
                        .btn {
                            width: 100%;
                            box-sizing: border-box;
                            background-color: #4581B6;
                            color: white;
                        }
                        input {
                            height: 36px;
                            width: 100%;
                            box-sizing: border-box;
                            margin-bottom: 16px;
                            padding-left: 8px;
                            &::placeholder {
                                font-size: 14px;
                                font-weight: 500;
                            }

                            
                        }
                        textarea {
                            width: 100%;
                            height: 127px;
                            box-sizing: border-box;
                            border: none;
                            padding-top: 10px;
                            padding-left: 16px;
                            border-radius: 8px;
                            margin-bottom: 18px;
                            padding-left: 8px;
                            font-size: 14px;
                            font-weight: 500;
                            font-family: 'Roboto Slab';
                        }
                    }
                    .photo {
                        display: flex;
                        flex-direction: row-reverse;
                        margin-bottom: 40px;
                        // margin-top: 140px;
                        img {
                            width: 212px;
                            height: 263px;
                            border-radius: 8px;
                            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        }

                    }

                    .check {
                        // width: 352px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        height: 444px;
                        background-color: white;
                        border-radius: 8px;
                        


                        .block-one {
                            margin-left: 16px;
                            
                            h2 {
                                margin: 0;
                                padding: 0;
                                font-size: 16px;
                                font-weight: 500;
                                color: #413C3C;
                                margin-bottom: 16px;
                                margin-top: 8px;
                                text-align: left;
                                

                            }
                            h3 {
                                font-size: 16px;
                                font-weight: 500;
                                color: #8D8787;
                                &.total-price {
                                    margin-top: 32px;
                                    color: red;
                                }
                            }
                            p {
                                font-size: 14px;
                                font-weight: 500;
                                color: #413C3C;
                                margin-bottom: 12px;
                            }

                            
                        }

                        .block-two {
                            margin-top: 64px;
                            // margin-left: 80px;
                            margin-right: 16px;
                            h2 {
                                margin: 0;
                                padding: 0;
                                font-size: 16px;
                                font-weight: 500;
                                color: #413C3C;
                                margin-bottom: 16px;
                                margin-top: 8px;
                                text-align: left;
                               
                            }
                            h3 {
                                font-size: 16px;
                                font-weight: 500;
                                color: #8D8787;
                            }
                            p {
                                font-size: 14px;
                                font-weight: 500;
                                color: #413C3C;
                                margin-bottom: 12px;
                            }
                            a {
                                display: block;
                                text-decoration: none;
                                background-color: #51AF5B;
                                padding: 10px 16px;
                                border-radius: 8px;
                                color: #fff;
                                font-size: 14px;
                                font-family: 'Roboto Slab';
                                font-weight: 500;
                                line-height: 24px;
                                margin-top: 32px;
                                
                            }

                          

                        }

                        


                    }
                        
                    
                
                    

                }
            }
        }
    }
}

.screen-five {
    .wrapper {
        width: 100%;
        h2 {
            font-size: 40px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 80px;
        }
        .row {
            .wrapper-columns {
                .column {
                    .review {
                        width: 324px;
                        height: 387px;
                        
                        background-color: white;
                        border-radius: 24px;
                        border: 1px solid #EEEEEC;
                        &.facebook {
                            background-image: url(../img/facebook.svg);
                            background-repeat: no-repeat;
                            background-position: 280px 20px;
                        }
                        h3 {
                            font-size: 20px;
                            font-weight: 700;
                            text-align: center;
                            line-height: 28px;
                            color: #000000;
                            margin-bottom: 28px;
                        }
                        p {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 24px;
                            text-align: left;
                            padding: 0 28px;
                            color: #000000;
                            margin-bottom: 38px;

                            &.date {
                                color: #8D8787;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 20px;
                                text-align: center;

                            }
                        }
                        img {
                            background-color: red;
                            border-radius: 50%;
                            margin-top: 24px;
                            margin-left: 101px;
                            margin-bottom: 10px;
                        }
                        a {
                            margin-top: 20px;
                        }
                    


                    }
                }
            }
        }

    }
}
